[submodule "rpi-img-builder"]
	path = rpi-img-builder
	url = https://github.com/pyavitz/rpi-img-builder
	branch = master
[submodule "debian-image-builder"]
	path = debian-image-builder
	url = https://github.com/pyavitz/debian-image-builder
	branch = feature
[submodule "builddeb"]
	path = builddeb
	url = https://github.com/pyavitz/builddeb
  branch = master
